# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Rust workspace
target/

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Backend Secrets
backend/.env
backend/.env.*
!backend/.env.template
backend/*.secret.exs
backend/config/*.secret.exs

testing
